        $headColor: whitesmoke;
        $titlesColor: rgb(10, 191, 241);
        $backColor: rgb(83, 83, 83);
        $textColor: lightgray;
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: 'Sen', sans-serif;
            background-color: $backColor;
            color: $textColor;
        }
        
        p {
            text-align: justify;
            padding-right: 5%;
        }
        
        .screenshot {
            width: 100%;
        }
        
        .photo {
            margin-right: 5%;
        }
        
        .A-row {
            grid-area: 1 / 1 / span 1 / span 2;
        }
        
        .B-row-left {
            grid-area: 2 / 1 / 3 / 2;
        }
        
        .B-row-right {
            grid-area: 2 / 2 / 3 / 3;
        }
        
        .grid {
            display: grid;
            grid-template-rows: 20% 80%;
            grid-template-columns: 70% 30%;
            gap: 10px;
        }
        
        .icons {
            width: 50px;
            margin: 5px;
        }
        
        figcaption {
            text-align: center;
        }
        
        figcaption:hover {
            color: $headColor;
        }
        
        figure>img:hover {
            border: 3px solid $titlesColor;
        }
        
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .section {
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
        
        .content {
            width: 100%;
            max-width: 80%;
            padding-top: 100px;
            ul {
                list-style: none;
            }
        }
        
        .burger {
            border: 1px solid $titlesColor;
            width: -moz-fit-content;
            width: fit-content;
            display: none;
            align-items: center;
        }
        
        .menuText {
            padding: 5px 10px;
            color: $titlesColor;
        }
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        
        .list-box {
            display: grid;
            grid-template: auto / 30% 70%;
            gap: 10px;
        }
        
        .boxes {
            margin: 10px;
            align-self: center;
        }
        
        .last-project {
            grid-column: 1 / span 2;
            text-align: center;
        }
        
        // Burger icon
        .line1,
        .line2,
        .line3 {
            width: 25px;
            height: 3px;
            background-color: $titlesColor;
            margin: 6px 0;
            border-radius: 3px;
            transition: 0.4s;
            position: relative;
        }
        /* Rotate first bar */
        
        .cross .line1 {
            transform: translate(0, 9px) rotate(-45deg);
        }
        /* Fade out the second bar */
        
        .cross .line2 {
            opacity: 0;
        }
        /* Rotate last bar */
        
        .cross .line3 {
            transform: translate(0, -9px) rotate(45deg);
        }
        
        h1 {
            color: $headColor;
        }
        
        a,
        h2 {
            color: $titlesColor;
            margin: 10px 0px 30px;
        }
        
        a {
            text-decoration: none;
        }
        
        .menu {
            // height: 100px;
            border-bottom: 1px solid $textColor;
            position: fixed;
            top: 0;
            // bottom: 600px;
            left: 0;
            width: 100%;
            z-index: 9999;
            background-color: $backColor;
        }
        
        .menu-items {
            display: flex;
            padding: 15px;
        }
        
        .menu-items>div {
            padding: 0 30px;
        }
        
        .menu-items>div>a:hover {
            color: $headColor;
        }
        
        // Small devices 
        @media (max-width: 576px) {
            .content {
                padding-top: 180px;
            }
            .menu-items {
                display: none;
            }
            .list-box {
                grid-template: auto / 80%;
            }
            .grid {
                grid-template-rows: 20% 80%;
                grid-template-columns: 1fr;
                gap: 10px;
            }
            .last-project {
                grid-column: 1 / span 1;
            }
            .burger {
                display: flex;
            }
            .menu-items.responsive {
                display: block;
                text-align: left;
            }
            figure>img {
                display: none;
            }
            .photo {
                display: none;
            }
        }
        
        // // /* Change the color of links on hover */
        // // .menu-items a:hover {
        // //     background-color: #ddd;
        // //     color: red;
        // // }
        // // /* Add an active class to highlight the current page */
        // // .menu-items a.active {
        // //     background-color: #04AA6D;
        // //     color: white;
        // // }
        // /* Hide the link that should open and close the topnav on small screens */
        // // // Medium devices 
        // // @media (min-width: 768px) {}
        // // // Large devices 
        // // @media (min-width: 992px) {}
        // // // X-Large devices 
        // // @media (min-width: 1200px) {}