* {
    box-sizing: border-box;
}

.content {
    width: 280px;
    height: 200px;
    background-color: #8cb7c0;
    border: 1px solid black;
}

.padding {
    width: 330px;
    background-color: #c1d18a;
    padding: 20px;
    border: 5px solid black;
}

.margin {
    width: 400px;
    padding: 35px;
    background-color: #f8cc9d;
    margin-top: 35px;
    margin-left: 20px;
    border: 1px solid black;
}