body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1.start {
    color: red;
}

.RedCircle {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    color: red;
    border: 5px solid red;
}

.BlueCircle {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    border: 5px solid blue;
    padding: 5px;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 5px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 1s linear;
    }
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.square {
    width: 50px;
    height: 50px;
    border: 5px solid red;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.squares {
    border: 5px solid red;
}


/* From uiverse.io by @alexroumi */

button {
    margin: 5px;
    ;
    padding: 15px 20px;
    border: none;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #212121;
        z-index: -1;
        transition: all 250ms
    }
    &:hover {
        color: #e8e8e8;
    }
    &:hover::before {
        width: 100%;
    }
    &.red {
        color: orangered;
        background: crimson;
        color: white;
        &:before {
            background-color: orangered;
        }
        &:hover {
            color: white;
        }
    }
    &.blue {
        color: gray;
        background: skyblue;
        &:before {
            background-color: white;
        }
        &:hover {
            color: skyblue;
        }
    }
    &.green {
        color: white;
        background: lawngreen;
        &:before {
            background-color: white;
        }
        &:hover {
            color: lawngreen;
        }
    }
}