<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People List</title>
</head>
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body>
    <h1>Žmonių sąrašas</h1>
    <table id="table"></table>
    <script>
        fetch('http://localhost:3000/get-people')
            .then(resp => resp.json())
            .then(resp => {
                console.log(resp)
                document.getElementById('table').innerHTML += `<tr> <th> Name </th><th> Address</th><th> Company</th><th> Image</th><th> Phone</th><th>Website </th> </tr> `
                for (let i = 0; i <= 39; i++) {
                    document.getElementById('table').innerHTML += `<tr> <td> ${resp[i].name}</td><td> ${resp[i].address}</td><td> ${resp[i].company}</td><td> <img src =" ${resp[i].image}"></td><td> ${resp[i].phone}</td><td> ${resp[i].website}</td> </tr>     `

                }
            })
    </script>

    <p></p>
</body>

</html>