Jusu banko saskaita

<h2>naujas pavedimas</h2>

<form action="transfer"> 

<div>
<label for="">saskaitos numeris</label>
<input type="text" value="account_number" placeholder="LTgfjfrhjgfhgfhgf">
</div>
<div>
<label for=""> gavejo vardas ir pavarde</label>
<input type="text" value="recipient" placeholder="vardas pavarde">

</div>
<div>
<label for=""> mokejimo paskirtis</label>
<input type="text" value="reference" placeholder="uz paslaugas">
</div>
<button type="submit" >pervesti</button>

</form>