<form>
    <legend>
        <input type="email" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">
        <button>Submit</button>
    </legend>
</form>