<h1>ar pavedimo duomenys teisingi? </h1>

<ul>
<li>saskaitos numeris: {{account_number}}</li>
<li>gavejo vardas ir pavarde: {{recipient}}</li>
<li>mokejimo paskirtis: {{reference}}</li>
</ul>

<a href="#"> Patvirtinti</a>
<a href="#"> Atmesti</a>