<form>
    {{!-- <input type="radio"> --}}
    <p> pirmas skaicius</p>
    <label for="kodas"> 0</label>
    <input type="checkbox" name="kodas" value=0>
    <label for="kodas"> 1</label>
    <input type="checkbox" name="kodas" value=1>
    <label for="kodas"> 2</label>
    <input type="checkbox" name="kodas" value=2>
    <label for="kodas"> 3</label>
    <input type="checkbox" name="kodas" value=3>
    <label for="kodas"> 4</label>
    <input type="checkbox" name="kodas" value=4>
    <label for="kodas"> 5</label>
    <input type="checkbox" name="kodas" value=5>
    <label for="kodas"> 6</label>
    <input type="checkbox" name="kodas" value=6>
    <label for="kodas"> 7</label>
    <input type="checkbox" name="kodas" value=7>
    <label for="kodas"> 8</label>
    <input type="checkbox" name="kodas" value=8>
    <label for="kodas"> 9</label>
    <input type="checkbox" name="kodas" value=9>
    {{!-- <input type="text" name="vardas"> --}}
     <p> antras skaicius</p>
    <label for="kodas1"> 0</label>
    <input type="checkbox" name="kodas1" value=0>
    <label for="kodas1"> 1</label>
    <input type="checkbox" name="kodas1" value=1>
    <label for="kodas1"> 2</label>
    <input type="checkbox" name="kodas1" value=2>
    <label for="kodas1"> 3</label>
    <input type="checkbox" name="kodas1" value=3>
    <label for="kodas1"> 4</label>
    <input type="checkbox" name="kodas1" value=4>
    <label for="kodas1"> 5</label>
    <input type="checkbox" name="kodas1" value=5>
    <label for="kodas1"> 6</label>
    <input type="checkbox" name="kodas1" value=6>
    <label for="kodas1"> 7</label>
    <input type="checkbox" name="kodas1" value=7>
    <label for="kodas1"> 8</label>
    <input type="checkbox" name="kodas1" value=8>
    <label for="kodas1"> 9</label>
    <input type="checkbox" name="kodas1" value=9>
    {{!-- <input type="text" name="vardas"> --}}
 <p> trecias skaicius</p>
    <label for="kodas2"> 0</label>
    <input type="checkbox" name="kodas2" value=0>
    <label for="kodas2"> 1</label>
    <input type="checkbox" name="kodas2" value=1>
    <label for="kodas2"> 2</label>
    <input type="checkbox" name="kodas2" value=2>
    <label for="kodas2"> 3</label>
    <input type="checkbox" name="kodas2" value=3>
    <label for="kodas2"> 4</label>
    <input type="checkbox" name="kodas2" value=4>
    <label for="kodas2"> 5</label>
    <input type="checkbox" name="kodas2" value=5>
    <label for="kodas2"> 6</label>
    <input type="checkbox" name="kodas2" value=6>
    <label for="kodas2"> 7</label>
    <input type="checkbox" name="kodas2" value=7>
    <label for="kodas2"> 8</label>
    <input type="checkbox" name="kodas2" value=8>
    <label for="kodas2"> 9</label>
    <input type="checkbox" name="kodas2" value=9>
    {{!-- <input type="text" name="vardas"> --}}

    <button type='submit'>Siusti</button>
</form>